<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<head th:replace="fragments/header :: head"></head>

<body>

<!-- for header part -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead"  style="background-image: url('../static/assets/img/cryptocurrency-business-1.jpg')"
        th:style="'background-image: url(' + @{/assets/img/cryptocurrency-business-1.jpg} + ');' + 'padding-top: 1.5rem'"></header>

<div class="main-container">
    <div th:replace="fragments/dashboard-main-content :: nav-container-dashboard">
    </div>
    <div class="main">



        <div class="report-container">
            <div class="report-header">
                <h1 class="recent-Articles">Users</h1>
            </div>

            <div class="report-body">
                <div class="report-topic-heading">
                    <h3 class="t-op">Full name</h3>
                    <h3 class="t-op">Email</h3>
                    <h3 class="t-op">Blocked</h3>
                    <h3 class="t-op">Admin Status</h3>
                </div>

                <div class="items" th:each="user : ${users}">
                    <div class="item1">
                        <a th:href="@{'/users/user-details/' + ${user.getUsername()}}" th:text="${user.getFirstName()
                        + ' ' + user.getLastName()}" class="t-op-nextlvl">User's name></a>
                        <h3 th:text="${user.getEmail()}" class="t-op-nextlvl">Email</h3>
                        <h3 th:text="${user.isBlocked()}" class="t-op-nextlvl label-tag"
                            th:style="${user.isBlocked()} == false ? 'background-color: orange' : 'background: red'"
                        >Blocked</h3>
                        <h3 th:text="${user.isAdmin()}"
                            th:style="${user.isAdmin()} == true ? 'background-color: rgb(0, 177, 0)' : 'background: red'"
                            class="t-op-nextlvl label-tag">Admin Status</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:href="@{/js/index.js}"></script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
