<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oops, something went wrong</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-9RJQDIfFbmnylr/6/fkM6JyUfE+1BTBEIcrlvfr05HbjG8/MsLsSy57xgdOGfKPWykWpYGdD/+VLstjZZbhQvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body">
          <h1 class="text-danger">Oops, something went wrong</h1>
          <p>We're sorry, but something unexpected happened. Please try again later.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
