<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead"  style="background-image: url('../static/assets/img/cryptocurrency-business-1.jpg')" th:style="'background-image: url(' + @{/assets/img/cryptocurrency-business-1.jpg} + ');' + 'padding-top: 1.5rem'"></header>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body">
          <h1 class="text-danger">Oops, something went wrong</h1>
          <p>We're sorry, but something unexpected happened. Please try again later.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
