<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead"  style="background-image: url('../static/assets/img/cryptocurrency-business-1.jpg')" th:style="'background-image: url(' + @{/assets/img/cryptocurrency-business-1.jpg} + ');' + 'padding-top: 1.5rem'"></header>

<h2 style="margin-left: 600px">Login</h2>

<form action="#" th:action="@{/auth/login}" th:object="${login}" style="margin-left: 600px" method="post">
    <label th:text="#{user.label.username}">Username</label>
    <br/>
    <input type="text" required minlength="4" maxlength="32" th:field="*{username}"/>
    <label class="error" th:errors="*{username}">Username error placeholder</label>
    <small th:if="${blocked}"  id="usernameUniqueError"
           class="text-light form-text bg-danger rounded">This user is blocked.</small>
    <br/><br/>

    <label th:text="#{user.label.password}">Password</label>
    <br/>
    <input type="password" required minlength="4" maxlength="32" th:field="*{password}"/>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <br/><br/>

    <input type="submit" value="Login"/>
</form>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>