<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead"  style="background-image: url('../static/assets/img/cryptocurrency-business-1.jpg')" th:style="'background-image: url(' + @{/assets/img/cryptocurrency-business-1.jpg} + ');' + 'padding-top: 1.5rem'"></header>

<h2 style="margin-left: 600px">Register</h2>

<form action="#" th:action="@{/auth/register}"  method="post" style="margin-left: 600px"
>
    <label th:text="#{user.label.username}">Username</label>
    <br/>
    <input type="text"  required minlength="4" maxlength="32" th:field="*{register.username}"/>
    <small th:if="${userExistsError}"  id="usernameUniqueError"
           class="text-light form-text bg-danger rounded">Username is already occupied</small>
    <label th:errors="*{register.username}">Username error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.password}">Password</label>
    <br/>
    <input type="password" required minlength="4" maxlength="32" th:field="*{register.password}"/>
    <label class="error" th:errors="*{register.password}">Password error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.password-confirm}">Confirm Password</label>
    <br/>
    <input type="password" required minlength="4" maxlength="32" th:field="*{register.passwordConfirm}"/>
    <small th:if="${notConfirmed}"  id="notConfirmedError"
           class="text-light form-text bg-danger rounded">Passwords are not identical</small>
    <label class="error" th:errors="*{register.passwordConfirm}">Password confirm error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.first-name}">First Name</label>
    <br/>
    <input type="text" required minlength="4" maxlength="32" th:field="*{register.firstName}"/>
    <label class="error" th:errors="*{register.firstName}">First name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.last-name}">Last Name</label>
    <br/>
    <input type="text" required minlength="4" maxlength="32" th:field="*{register.lastName}"/>
    <label class="error" th:errors="*{register.lastName}">Last name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.email}">Last Name</label>
    <br/>
    <input type="text" required minlength="4" maxlength="32" th:field="*{register.email}"/>
    <label class="error" th:errors="*{register.email}">Email error placeholder</label>
    <br/>
    <br/>

    <label th:text="#{user-additional.label.phone-number}">Last Name</label>
    <br/>
    <input type="text" th:field="*{phoneNumber.phoneNumber}"/>
    <label class="error" th:errors="*{phoneNumber.phoneNumber}">Email error placeholder</label>
    <br/>
    <br/>


    <input type="submit" value="Register"/>
</form>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>