<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead"  style="background-image: url('../static/assets/img/cryptocurrency-business-1.jpg')" th:style="'background-image: url(' + @{/assets/img/cryptocurrency-business-1.jpg} + ');' + 'padding-top: 1.5rem'"></header>

<section class="section about-section gray-bg" id="about">
    <div class="container" th:object="${user}">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <a th:style="'margin-left: 585px'" href="/user-details/{username}/update" th:href="'/users/user/update/' + ${user.getUsername()}" title="Edit" class="avatar-edit">
                        <i class="fa fa-fw fa-2x fa-pencil"></i>
                    </a>
                    <h3 class="dark-color" th:text="'Username: /' + ${user.getUsername()}">About Me</h3>
                    <h6 th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getProfession() : ''}" class="theme-color lead">A Lead UX &amp; UI designer based in Canada</h6>
                    <p th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getDescribeProfession() : ''}">I <mark>design and develop</mark> services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface and meaningful interactions.</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                <p th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getBirthday() : ''}">4th april 1998</p>
                            </div>
                            <div class="media">
                                <label >Age</label>
                                <p th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getAge() : ''}"></p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getCountry() : ''}">Canada</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getAddress() : ''}">California, USA</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p th:text="${user.getEmail()}"></p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p th:text="${user.getUserAdditionalInfo() != null ? user.getUserAdditionalInfo().getPhoneNumber() : ''}">820-885-3321</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                        <p class="m-0px font-w-600">Happy Clients</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                        <p class="m-0px font-w-600">Project Completed</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <a  th:if="${isCreator} and ${user.isAdmin()} and ${isCreator}" th:href="@{'/users/user/' + ${user.getUsername()} + '/changeRole/false'}" th:text="'Unmake Admin'"
                            th:style="${user.isAdmin()} == false ? 'background-color: rgb(0, 177, 0)' : 'background: red'"></a>
                        <a  th:if="${isAdmin} and ${user.isAdmin() == false}" th:href="@{'/users/user/' + ${user.getUsername()} + '/changeRole/true'}" th:text="'Make Admin'"
                            th:style="${user.isAdmin()} == false ? 'background-color: rgb(0, 177, 0)' : 'background: red'"></a>

                    </div>
                </div>
                <div  class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <a th:if="${isAdmin} and ${user.isBlocked()} and ${isCreator}" th:href="@{'/users/user/' + ${user.getUsername()} + '/changeStatus/false'}"
                           th:text="${'Unblock the user'}"
                           th:style="${user.isBlocked()} == true ? 'background-color: rgb(0, 177, 0)' : 'background: red'"></a>
                        <a th:if="${isAdmin} and ${!user.isBlocked()} and ${isCreator}" th:href="@{'/users/user/' + ${user.getUsername()} + '/changeStatus/true'}"
                           th:text="${'Block the user'}"
                           th:style="${user.isBlocked()} == true ? 'background-color: rgb(0, 177, 0)' : 'background: red'"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>